# First of all, make sure those pesky SVN folders don't end up on git
.svn

# ignore files used on this system only

server.log
server.log.lck
#server.properties

banned-ips.txt
banned-players.txt
*.log
*log.txt

plugins/Essentials/userdata/

# ignore world folders

world/
world_the_end/
Durse/
Durse_the_end/
Midgard/
Midgard_the_end/
Dummy/



# ignore massive generated folders
plugins/dynmap/web/

# Next, ignore all untracked files...
#/*

# ...except the following folders and files in them
#!/data
#!/lua
#!/materials
#!/models
#!/settings
#!/sound

# If you need more folders at the root level, don't hesitate to add them
# If you need a new file at the root level, just use "git add -f <filename>"
